<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <h2 class="titre pt-4">Tout ses avis</h2>
            <p class="soustitre">Pour te donner envie. </p>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
            <div class="card mb-3" *ngFor="let avis of avis">
                <div class="row justify-content-left d-flex">
                    <div class="col-md-4 d-flex flex-column">
                        <div class="rating-box">
                            <h1 class="pt-4">{{avis.note}}</h1>
                            <p class="">sur 5</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{avis.user.firstName}} {{avis.user.lastName}}</h5>
                            <p class="card-text">{{avis.texte}}</p>
                            <p class="card-text"><small
                                    class="text-muted">Le {{avis.dateAvis| date: "dd/MM/yyyy"}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
