

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div>
            <h1>Mon profil</h1>
        </div>
        <div class="ml-auto p-2">
            <button class="btn btn-warning" (click)="nouvelAvis()" >Nouvel avis</button>
            <button type="button" class="btn btn-outline-warning ml-2" (click)="redirectAvis(userId)">Modifier mes avis</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="redirectInfos(userId)">Modifier mes infos</button>
            <button class="btn btn-danger ml-2" (click)="deconnexion()" >Déconnexion</button>
        </div>
    </div>
    <div class="row">
        <ul>
        <h3>Mes infos : </h3>
        <li class="justify-content-around"><p>Nom : <strong>{{user.lastName}}</strong> Prénom : <strong>{{user.firstName}}</strong></p></li>
       <li class="justify-content-around"><p>Age : <strong>{{user.age}}</strong> Email : <strong>{{user.email}}</strong></p></li>
        <li class="justify-content-around"><p>Points fidelités : <strong>{{user.points}}</strong></p></li>
        </ul>
    </div>
    <div class="row">
        <div *ngFor="let film of films" class="col-4">
            <div class="card shadow" style="width: 18rem;">
                <img *ngIf="film.image" src="http://localhost:8080/films/images/{{film.id}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{film.title}}</h5>
                    <p class="card-text">{{film.synopsis}}</p>
                    <div *ngFor="let avis of avisList" class="col">
                        <div *ngIf="film.id == avis.film.id">
                            <div>
                                <h5 class="note">Note : {{avis.note}}</h5>
                                <h5>{{avis.texte}}</h5>
                                <h6>{{avis.dateAvis | date: "dd/MM/yyyy"}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

