
.chiffres{
    border : 2px solid black;
    border-radius: 20px;
}
strong {
    color: #FECC00;
}
.boutons {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.btn {
    margin: auto;
    width: 250px;
}

.first-line {
    border-bottom: 1px solid lightgray;
    padding-top: 1%;
    padding-bottom: 1%;
}
