<div class="container-fluid">
    <div class="row first-line">
        <div class="col-9">
            <div class="row mx-auto">
                <div class="col text-center chiffres mr-1">
                    <h1>Nombre de <strong>films</strong></h1>
                    <h1 class="display-1" *ngIf="films"><strong>{{films.length}}</strong></h1>
                </div>
                <div class="col text-center chiffres ml-1">
                    <h1>Nombre <strong>d'utilisateurs</strong></h1>
                    <h1 class="display-1" *ngIf="users"><strong>{{users.length}}</strong></h1>
                </div>
            </div>
        </div>
        <div class="col-3 boutons">
            <a class="btn btn-warning btn-lg" [routerLink]="['/list-films']">Les films</a>
            <a class="btn btn-secondary btn-lg" [routerLink]="['/list-users']">Les utilisateurs</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <div class="row mx-auto">
                <div class="col text-center chiffres mr-1">
                    <h1>Nombre d'<strong>avis</strong></h1>
                    <h1 class="display-1" *ngIf="avis"><strong>{{avis.length}}</strong></h1>
                </div>
                <div class="col text-center chiffres ml-1">
                    <h1>Satisfaction : {{average}}% </h1>
                    <img *ngIf="average<=20" src="../assets/tetes/Tete1.png" class="mt-3" height="80px">
                    <img *ngIf="average>20  && average<=40" src="../assets/tetes/Tete2.png" class="mt-3" height="80px">
                    <img *ngIf="average>40  && average<=60" src="../assets/tetes/Tete3.png" class="mt-3" height="80px">
                    <img *ngIf="average>60  && average<=80" src="../assets/tetes/Tete4.png" class="mt-3" height="80px">
                    <img *ngIf="average>80" src="../assets/tetes/Tete5.png" class="mt-3" height="80px">
                </div>
            </div>

        </div>
        <div class="col-3 boutons">
            <a class="btn btn-outline-warning btn-lg" [routerLink]="['/list-avis']">Les avis</a>
        </div>
    </div>

        <app-charts class="row mt-2 w-100 mx-auto"></app-charts>

