<div class="container">
    <div class="row justify-content-center align-items-center">
            <div class="w-100 mt-1">
                <a *ngIf="!onAddPage" class="btn btn-secondary" [routerLink]="['/user-page']">Mon espace</a>
            </div>
        <div class="col-12 text-center">
            <h2 class="titre pt-4" *ngIf="onAddPage">Passionné(e) de cinéma? Inscris-toi !</h2>
            <p class="soustitre">Et rejoins une vraie communauté. </p>
            <h2 *ngIf="!onAddPage">Modification utilisateur</h2>
        </div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mt-1">
                <div class="form-group">
                    <label for="firstName">
                        Prénom
                    </label>
                    <input type="text" id="firstName" class="form-control" name="firstName" [ngModel]="user.firstName">
                </div>

                <div class="form-group">
                    <label for="lastName">
                        Nom de famille
                    </label>
                    <input type="text" id="lastName" class="form-control" name="lastName" [ngModel]="user.lastName">
                </div>

                <div class="form-group">
                    <label for="age">
                        Age
                    </label>
                    <input type="text" id="age" class="form-control" name="age" [ngModel]="user.age">
                </div>

                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="text" id="email" class="form-control" name="email" [ngModel]="user.email">
                </div>
              <button *ngIf="onAddPage" class="btn btn-warning inscription" type="submit">M'inscrire</button>
              <button *ngIf="!onAddPage" class="btn btn-warning" type="submit">Valider</button>
            </form>

       <div class="col-12">
            <div class="chat">
                <img  src="/assets/chat.gif"/>
            </div>
        </div>
    </div>
</div>
