<div class="container">
    <div class="d-flex align-items-center mt-3">
        <h1 class="mr-4">Les avis</h1>
        <select *ngIf="onAdminPage" [ngModel]="yearSelected" (ngModelChange)="valueSelectedChange($event)">
            <option *ngFor="let i of years" [value]="i">{{i}}</option>
        </select>
        <button *ngIf="onAdminPage" class="btn btn-secondary ml-3" (click)="downloadFile()">Export CSV</button>
        <a *ngIf="onAdminPage" class="btn btn-warning ml-3" [routerLink]="['/panel-admin']">Retour</a>
        <a *ngIf="!onAdminPage" class="btn btn-warning ml-3" [routerLink]="['/user-page']">Retour</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Note</th>
            <th scope="col">Texte</th>
            <th scope="col">Email utilisateur</th>
            <th scope="col">Titre film</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let avis of avis">
            <td>{{avis.id}}</td>
            <td>{{avis.note}}</td>
            <td>{{avis.texte}}</td>
            <td>{{avis.user && avis.user.email}}</td>
            <td>{{avis.film && avis.film.title}}</td>
            <td>{{avis.dateAvis | date: "dd/MM/yyyy"}}</td>
            <td class="d-flex justify-content-around"><button type="button" class="btn btn-danger deleteButton" (click)="deleteAvis(avis.id)"><i class="bi bi-trash"></i></button>
                <button *ngIf="!onAdminPage" type="button" class="btn btn-warning " (click)="updateAvis(avis.id)"><i class="bi bi-pencil"></i></button>
        </tr>
        </tbody>
    </table>
</div>



