<div class="box-img">
    <div class="maison">
        <img  src="/assets/Maison.png"/>
    </div>

    <div class="fantome">
        <img  src="/assets/fantome.png"/>
    </div>

    <div class="bonbon">
        <img  src="/assets/bonbon.png"/>
    </div>

    <div class="toile">
        <img  src="/assets/toile.png"/>
    </div>

    <div class="c-s">
        <img  src="/assets/c-s.png"/>
    </div>

    <div class="planete">
        <img  src="assets/planete.png"/>
    </div>

    <div class="chaudron">
        <img  src="assets/chaudron.png"/>
    </div>
</div>




<div class="container">
    <div>
        <img class="homepage" src="/assets/Horror%20on%20Halloween.png"/>
    </div>
</div>

    <div class="container">
    <div class="row">
        <div>
            <h1>SORTIES DE LA SEMAINE</h1>
        </div>
    </div>

    <div class="row">
            <div *ngFor="let film of films" class="col-4">
                <div class="card shadow" style="width: 18rem;">
                    <img *ngIf="film.image" src="http://localhost:8080/films/images/{{film.id}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{film.title}}</h5>
                        <p class="card-text">{{film.synopsis}}</p>
                        <button type="button" class="btn btn-warning" (click)="redirectFilmAvis(film.id)" >Voir ses avis</button>
                        <label class="note">Note: {{film.note}}</label>
                    </div>
                </div>
            </div>
    </div>
</div>

