.card{
    margin-top: 10%;
}
.card img{
    max-height: 350px;
}

h1{
    margin-top: 10%;
}

.btn{
    margin-right: 5%;
}
.homepage{
    width: 100%;
}

.box-img{
    position: fixed;
    top: 0px;
    left : 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.toile{
    position: absolute;
    top: 60px;
    left : 2px;
}

.maison{
    position: absolute;
    top: 700px;
    left : 80px;
}

.c-s{
    position: absolute;
    top: 300px;
    left : 150px;
}

.planete{
    position: absolute;
    top: 400px;
    left : 30px;
}

.fantome{
    position: absolute;
    top: 100px;
    right : 30px;
}

.bonbon{
    position: absolute;
    top: 400px;
    right : 200px;
}


.chaudron{
    position: absolute;
    bottom: 100px;
    right : 50px;
}

.note{
    color: #FBC02D;
    font-weight: bold;
}

.card-text{
    text-align: justify;
}
