<nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center">
  <img class="logo" src="/assets/LogoLnrProjet.png"/>
  <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
  <a class="navbar-brand" [routerLink]="['/add-user']">Inscription</a>
  <a class="navbar-brand" [routerLink]="['/user-page']">Mon espace</a>
  <a class="navbar-brand" [routerLink]="['/panel-admin']">Panel Administrateur</a>
</nav>


<router-outlet></router-outlet>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
    </section>
    <!-- Section: Social media -->


    <!-- Section: Text -->
    <h5 class="text-uppercase">Trouvez un film avec l'un de nos cinémas <img class="img-pathe" src="/assets/Pathé_Logo.svg.png"/> partenaires :</h5>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Paris</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-beaugrenelle" class="text-white">Beaugrenelle</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-gaumont-champs-elysees" class="text-white">Champs-Elysées</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-la-villette" class="text-white">La Vilette</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Lyon</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-vaise" class="text-white">Vaise</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-carre-de-soie" class="text-white">Carré de Soie</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-bellecour" class="text-white">Bellecour</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Marseille</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-madeleine" class="text-white">Madeleine</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-plan-de-campagne" class="text-white">Plan de campagne</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-cinema-la-joliette" class="text-white">La Joliette</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nice</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-lingostiere" class="text-white">Lingostière</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-massena" class="text-white">Masséna</a>
            </li>
            <li>
              <a href="https://www.cinemaspathegaumont.com/cinemas/cinema-pathe-gare-du-sud" class="text-white">Gare du Sud</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright: Nina DEI TOS - Laurine LE NET - Rym MOULOUDI
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->