<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="w-100 d-flex justify-content-end mt-1">
        <a class="btn btn-secondary ml-3" [routerLink]="['/list-films']">Retour</a>
        </div>
        <div class="col-12 text-center mt-4">
            <h2>Ajouter / Modifier la photo de {{film.title}}</h2>
        </div>
        <div class="form-group mt-4">
            <label for="file-control">Choisir un fichier : </label>
            <input class="form-control-file" type="file" id="file-control"(change)="onFileChanged($event)">
            <input class="btn btn-warning mt-2" type="button" (click)="onUpload()" value="Valider">
        </div>
    </div>
    <div *ngIf="film.image" class="row justify-content-center align-items-center mt-4">
    <h2>Supprimer photo</h2>
        <button class="btn btn-danger ml-2" type="button" (click)="onDelete()"><i class="bi bi-trash"></i></button>
    </div>
</div>
