<div class="container-fluid">
    <div class="d-flex align-items-center mt-3">
    <h1>Les films</h1>
        <a class="btn btn-outline-warning ml-3" [routerLink]="['/add-film']">Nouveau film</a>
        <a class="btn btn-warning ml-3" [routerLink]="['/panel-admin']">Retour</a>
        <button class="btn btn-secondary ml-3" (click)="downloadFile()">Export CSV</button>

    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Date de sortie</th>
            <th scope="col">Réalisateur</th>
            <th scope="col">Note</th>
            <th scope="col">Synopsis</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let film of films">
            <td>{{film.id}}</td>
            <td>{{film.title}}</td>
            <td>{{film.dateSortie | date:'dd-MM-yyyy'}}</td>
            <td>{{film.director}}</td>
            <td>{{film.note}}</td>
            <td>{{film.synopsis}}</td>
            <td class="d-flex justify-content-around"><button type="button" class="btn btn-danger deleteButton" (click)="deleteFilm(film.id)"><i class="bi bi-trash"></i></button>
                <button type="button" class="btn btn-warning " (click)="updateFilm(film.id)"><i class="bi bi-pencil"></i></button>
                <button type="button" class="btn btn-success addPj" (click)="redirectAddFile(film.id)"><i class="bi bi-camera"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>



