<div class="container-fluid">
  <div class="d-flex align-items-center mt-3">
    <h1>Les utilisateurs</h1>
    <a class="btn btn-outline-warning ml-3" [routerLink]="['/add-user']">Nouvel utilisateur</a>
    <a class="btn btn-warning ml-3" [routerLink]="['/panel-admin']">Retour</a>
    <button class="btn btn-secondary ml-3" (click)="downloadFile()">Export CSV</button>

  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Points fidélité</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>{{user.points}}</td>
      <td class="d-flex justify-content-around"><button type="button" class="btn btn-danger deleteButton" (click)="deleteUser(user.id)"><i class="bi bi-trash"></i></button>

      </td>
    </tr>
    </tbody>
  </table>
</div>



