<div class="container">
    <div class="row">
        <div class="col">
            <div class="w-100 d-flex justify-content-end mt-1">
                <button class="btn btn-secondary" (click)="redirectListAvisCo()">Mes avis</button>
            </div>
            <h2 *ngIf="onAddPage">Nouvel avis</h2>
            <h2 *ngIf="!onAddPage">Modification avis</h2>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="note">Note</label>
                    <select [(ngModel)]="noteSelected" name="noteSelect" id="note" class="ml-2">
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="texte">
                        Texte
                    </label>
                    <input type="text" id="texte" class="form-control" name="texte" [ngModel]="avis.texte">
                </div>
                <div class="form-group">
                    <label *ngIf="onAddPage" for="film">
                        Film à noter
                    </label>
                    <div *ngIf="onAddPage" class="form-group" id="film">
                        <select [(ngModel)]="filmSelected" name="filmId">
                            <option *ngFor="let film of films" [ngValue]="film">{{film.title}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="!onAddPage" class="mb-2">
                    <span>Film : </span>
                    <span>{{filmSelected.title}}</span>
                </div>
                <div *ngIf="addAvisValide == false" class="alert alert-danger" role="alert">
                    <p>
                    Vous avez déjà saisi un avis pour ce film !
                </div>
                <button *ngIf="onAddPage" class="btn btn-warning" type="submit" >Ajouter</button>
                <button *ngIf="!onAddPage" class="btn btn-warning" type="submit">Modifier
                </button>
            </form>
        </div>
    </div>
</div>


